name: Backend CI

on:
  pull_request:
    branches: [ "main", "be" ]

    paths:
      - 'backend/**'
      - '.github/workflows/be-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Create yml files
        run: |
          mkdir -p ./mcp-client/src/main/resources
          echo "${{ secrets.APPLICATION_PROD_YML }}" >> src/main/resources/application.yml

        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build